/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body, html{
    height: 100%;
    
}

body{
    padding-top: 75px;
}

.clear{
    clear: both;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
}

.transition-2{
    transition: 0.2s;
}

.border-radius3{
    border-radius: 3px;
}

.border-radius25{
    border-radius: 25px;
}

.border-radius50{
    border-radius: 50px;
}

/* Navbar */
.navbar{
    position: fixed;
    transition: 0.1s;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
}

.logo{
    float: left;
    transition: 0.1s;
    margin: 27px 0 12px 30px;
    height: 24px;
}

.logo a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.bars{
    float: right;
    transition: 0.1s;
    margin: 27px 30px 0;
    height: 20px;
}

.btn-bars{
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

.btn-bars:hover{
    transition: 0.1s;
    filter: brightness(115%);
}

.icon-close{
    display: none;
}

.menu-mobile{
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.1s;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 113, 201);
}

.show-menu{
    transform: translateX(0%);
}

.menu-desktop{
    display: none;
}

.page{
    display: block;
    margin: 35px 0 25px 30px;
    width: 85%;
    text-align: left;
}

.adefault{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.whatsapp{
    position: fixed;
    right: 30.5px;
    bottom: 145px;
    z-index: 1;
}

.whatsapp img{
    width: 43px;
}

.whatsapp img:hover{
    transition: 0.1s;
    filter: brightness(115%);
}

.scroll-to{
    display: none;
    position: fixed;
    right: 28px;
    bottom: 95.5px;
    z-index: 1;
    box-shadow: 0 3px 3px 0 rgba(0, 99, 177, 0.25);
}

.scroll-to img{
    position: relative;
    bottom: -6px;
    width: 48px;
}

.scroll-to img:hover{
    transition: 0.1s;
    filter: brightness(120%);
}

/* Header */
.header{
    width: 100%;
    box-shadow: 0 3px 15px 0 rgba(50, 50, 50, 0.10);
}

.header-text{
    padding-top: 50px;
    width: 100%;
    text-align: center;
    color: rgb(81, 81, 81);
}

.header-text h1{
    margin: 0 auto;
    width: 90%;
    font-size: 40px;
}

.header-text p{
    margin: 0 auto;
    padding-top: 15px;
    width: 85%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
}

.budget{
    padding: 25px 0 35px;
}

.btn-budget{
    width: 225px;
}

.btn-budget-style{
    cursor: pointer;
    height: 45px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    border: 0px;
    background-color: rgb(0, 113, 201);
    box-shadow: 0 3px 3px 0 rgba(0, 99, 177, 0.25);
}

.btn-budget-style:hover{
    transition: 0.1s;
    filter: brightness(115%);
}

.advantage{
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: center;
}

.advantage img{
    filter: drop-shadow(0px 4px 4px rgba(110, 207, 74, 0.35));
}

.advantage span{
    padding-left: 10px;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
}

.header-figure{
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    text-align: center;
}

.header-figure img{
    width: 85%;
    height: auto;
}

/* Section [Serviços] */
.section{
    margin-top: 70px;
    width: 100%;
}

.section-title{
    font-size: 32px;
    text-align: center;
    color: rgb(81, 81, 81);
}

.trace{
    margin: 20px auto 0;
    width: 40px;
    height: 2px;
    background-color: rgb(0, 113, 201);
}

.section-subtitle{
    margin: 35px auto 0;
    width: 90%;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: rgb(91, 91, 91);
}

.content-service{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.content-service .service:nth-of-type(2), 
.content-service .service:nth-of-type(3),
.content-service .service:nth-of-type(4),
.content-service .service:nth-of-type(5),
.content-service .service:nth-of-type(6){  
    margin-top: 40px;
}

.service{
    margin: 0 auto;
    padding: 50px 0 20px 0;
    width: 83%;
    min-height: 465px;
    color: rgb(81, 81, 81);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 15px 0 rgba(81, 81, 81, 0.08);
}

.service h3{
    margin: 25px auto 15px;
    font-size: 24px;
    width: 85%;
}

.service p{
    margin: 0 auto 20px;
    width: 85%;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

/* Section [Portfólio] */
.content-project{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.content-project .project:nth-child(2),
.content-project .project:nth-child(3),
.content-project .project:nth-child(4),
.content-project .project:nth-child(5),
.content-project .project:nth-child(6){
    margin-top: 40px;
}

.project{ 
    margin: 0 auto;
    width: 83%;   
}

.project-start{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(76, 74, 72);
}

.project-start img{
    border-radius: 20px;
    width: 100%;
}

.project-start h3{
    margin: 0;
    padding-top: 15px;
    font-size: 24px;
}

.project-start p{
    font-size: 16px;
}

.project-start p:nth-of-type(1){
    margin-top: 15px;
}

.project-start p:nth-of-type(2), 
.project-start p:nth-of-type(3){
    margin-top: 5px;
}

.btn-project{
    margin: 20px 0 10px;
    width: 190px;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
  
.modal-content{
    position: relative;
    margin: 90px auto 30px;
    width: 83%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    animation-name: animatetop;
    animation-duration: 0.2s;
}

@keyframes animatetop{
    from{
        left: -100%; 
        opacity: 0;
    }
    to{
        left: 0; 
        opacity: 1;
    }
}
  
.modal-text{
    margin: 0 auto;
    color: rgb(81, 81, 81);
    text-align: center;
}

.modal-text h4{
    margin: 0 auto;
    padding-top: 25px;
    width: 85%;
    font-size: 22px;
}

.modal-text img{
    padding-top: 20px;
    width: 65%;
}

.modal-text a{
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.modal-text p{
    margin: 0 auto;
    width: 85%;
    font-size: 14px;
}

.modal-text p:nth-of-type(1){
    padding-top: 10px;
}

.modal-text p:nth-of-type(2){
    padding: 20px 0 40px;
    text-indent: 3em;
    text-align: justify;
}

.close{
    cursor: pointer;
    float: right;
    padding: 15px 20px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 113, 201);
}
  
.close:hover{
    transition: 0.1s;
    filter: brightness(115%);
}

.view-more{
    margin-top: 35px;
}

.btn-view{
    width: 135px;
    height: 45px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.btn-view-style{
    text-decoration: none;
    color: rgb(0, 113, 201);
    border: 1.5px solid rgb(0, 113, 201);
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(0, 99, 177, 0.25);
}

.btn-view-style:hover{
    transition: 0.4s;
    filter: brightness(115%);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 113, 201);
}
  
/* Section [Sobre] */
.content-about{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.about-text{
    margin: 0 auto;
    width: 83%;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}

.about-text p{
    margin-bottom: 15px;
    color: rgb(91, 91, 91);
}

.about-social-network{
    margin-top: 50px;
    width: 100%;
}

.perfil{
    width: 100%;
}

.perfil img{
    width: 210px;
    border-radius: 50%;
}

.facebook, 
.instagram, 
.linkedin{
    display: inline-block;
    transition: transform 0.1s;
}

.facebook img, 
.instagram img, 
.linkedin img{
    margin: 25px 20px 0 20px;
    width: 30px;
}

.facebook:hover, 
.instagram:hover, 
.linkedin:hover{
    transform: scale(1.05);
    filter: brightness(115%);
}

/* Section [Contato] */
.content-contact-form{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#contato h2{
    width: 90%;
}

.contact-form span:first-child, 
.label-float span:nth-of-type(1){
    font-weight: bold;
    color: rgb(0, 113, 201);
}

.required{
    font-size: 10px;
    margin-top: 40px;
}

form{
    margin-top: -10px;
    text-align: center;
}

.label-float{
    position: relative;
}

.label-float input{
    margin-top: 15px;
    padding-left: 18px;
    width: 83%;
    height: 40px;
    font-size: 14px;
    color: rgb(81, 81, 81);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 25px;
}
  
.label-float label{
    position: absolute;
    pointer-events: none;
    transition: all 0.25s ease-out;
    top: 5px;
    left: 10.5%;
    margin-top: 20.5px;
    padding: 0 5px;
    font-size: 14px;
    text-align: left;
    color: rgb(151, 151, 151);
    background-color: rgb(255, 255, 255);
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label,
.label-float textarea:focus + label, 
.label-float textarea:not(:placeholder-shown) + label{
    margin-top: 0;
    font-size: 14px;
    color: rgb(0, 113, 201);
}

.contact-form input[type="text"]:focus, 
.contact-form input[type="email"]:focus, 
.contact-form input[type="tel"]:focus, 
.contact-form select:focus,
.contact-form #message:focus{
    border-radius: 0;
    outline-color: rgb(0, 113, 201);
}

.contact-form select option{
    color: rgb(81, 81, 81);
}

.contact-form select option[disabled]{
    display: none;
}

.contact-form select{
    margin-top: 10px;
    padding-left: 18px;
    width: 83%;
    height: 40px;
    font-size: 14px;
    color: rgb(151, 151, 151);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.contact-form #message{
    margin-top: 15px;
    padding: 10px 0 0 14px;
    width: 83%;
    height: 150px;
    font-size: 14px;
    color: rgb(81, 81, 81);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 25px;
}

.btn-send{
    cursor: pointer;
    margin-top: 10px;
    width: 83%;
    height: 45px;
    border: 0px;
    background-color: rgb(0, 113, 201);
    box-shadow: 0 3px 3px 0 rgba(0, 99, 177, 0.25);
}

.btn-send:hover{
    filter: brightness(115%);
}

button[type="submit"]{
    font-size: 16px;
    letter-spacing: 0.7px;
    color: rgb(255, 255, 255);
}

.communication{
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(81, 81, 81);
}

.communication p:nth-child(2){
    margin: 15px 0;
}

.communication a{
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.communication a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(81, 81, 81);
}

/* Footer */
.footer{
    margin-top: 35px;
    width: 100%;
    box-shadow: 0 -3px 15px 0 rgba(50, 50, 50, 0.10);
}

.footer-social-network{
    text-align: center; 
}

.footer-social-network .facebook img, 
.footer-social-network .instagram img,
.footer-social-network .linkedin img{
    margin: 20px 20px 0;
    width: 22px;
}

.footer-copyright{
    text-align: center;
}

.copyright{
    margin: 0 auto;
    width: 70%;
}

.copyright p{
    padding: 15px 0 15px;
    font-size: 16px;
    color: rgb(81, 81, 81);
}

.copyright span{
    color: rgb(0, 113, 201);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 576px){
}

/* sm Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px){
    /* Header */
    .header-text h1{
        font-size: 48px;
    }

    .header-figure{
        width: 65%;
    }

    /* Section [Serviços] */ 
    .content-service .service:nth-of-type(2){
        margin-top: 0px;
    }

    .service{
        display: inline-block;
        margin: 0 20px;
        width: 40%;
        min-height: 605px;
        vertical-align: top;
    }

    /* Section [Portfólio] */
    .content-project .project:nth-child(2){
        margin-top: 0px;    
    }

    .project{
        display: inline-block;
        margin: 0 20px;
        width: 40%;
    }

    .modal-content{
        margin: 120px auto 30px;
        width: 86%;
    }

    .modal-text img{
        width: 280px;
    }

    /* Section [Sobre] */
    .perfil img{
        width: 260px;
    }

    /* Section [Contato] */
    .label-float label{
        left: 8.3%;
    }

    .label-float input,
    .contact-form select,
    .contact-form #message,
    .btn-send{
        width: 86%;
    }
}

/* md Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px){
    /* Body */
    body{
        padding-top: 80px;
    }

    /* Navbar */
    .navbar{
        height: 80px;
    }

    .logo{
        margin: 29px 0 29px 60px;
    }

    .bars{
        display: none;
    }

    .menu-mobile{
        display: none;
    }

    .menu-desktop{
        display: block;
        float: right;
        top: 0;
        right: 0;
        margin-right: 30px;
        width: auto;
        height: 80px;
    }

    .menu-desktop li{
        display: inline-block;
        list-style: none;
}
    .page{
        display: inline-block;
        transition: 0.1s;
        margin: 11px 30px;
        padding: 17.5px 0;
        width: auto;
        text-align: right;
    }
 
    .adefault{
        font-size: 16px;
        font-weight: normal;
        color: rgb(81, 81, 81);
    }

    .adefault:hover{
        color: rgb(0, 113, 201);
        border-bottom: 2px solid rgb(0, 113, 201);
    }

    .whatsapp{
        right: 32px;
        bottom: 100px;
    }
    
    .scroll-to{
        right: 30.5px;
        bottom: 50.5px;
    }

    /* Header */
    .header-text{
        display: inline-block;
        margin-bottom: 80px;
        margin-left: 60px;
        width: 43%;
        text-align: left;
    }

    .header-text h1{
        margin: 0;
        width: 470px;
    }
    
    .header-text p{
        margin: 0;
        width: 450px;
    }

    .advantage{
        justify-content: left; 
    }
    
    .header-figure{
        float: right;
        margin: 55px 50px 0 0;
        padding: 0;
        width: 43%;
        text-align: right;
    }

    /* Section [Serviços] */
    .content-service .service:nth-of-type(3){
        margin-top: 0px;
    }

    .service{
        width: 25%;
        min-height: 685px;
    }

    /* Section [Portfólio] */
    .content-project .project:nth-child(3){
        margin-top: 0px;
    }

    .project{
        width: 25%;
    }

    .modal-content{
        width: 50%;
    }
    
    .view-more{
        margin: 35px auto 0;
    }

    /* Section [Sobre] */
    .content-about{
        margin-top: 35px;
    }

    .about-text{
        float: left;
        margin-left: 80px;
        width: 40%;
        text-align: left;
    }
    
    .about-social-network{
        float: right;
        margin: 25px 80px 0 0;
        width: 40%;
        text-align: right;
    }
    
    .facebook img, 
    .instagram img, 
    .linkedin img{
        margin: 25px 28px 0 28px;
        width: 30px;
    }

    /* Section [Contato] */
    #contato h2{
        margin-bottom: 40px;
    }

    .label-float label{
        left: 26%;
    }

    .label-float input,
    .contact-form select,
    .contact-form #message,
    .btn-send{
        width: 50%;
    }
}

/* lg Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px){
    /* Section [Serviços] */
    .service{
        min-height: 605px;
    }
}

/* xlg Extra large devices (extra large desktops, 1400px and up) */
@media screen and (min-width: 1400px){
    /* Section [Serviços] */
    .service{
        min-height: 560px;
    }
}

/* xxlg Extra large devices (extra large desktops, 1800px and up) */
@media screen and (min-width: 1800px){
}